body{
    font-family: 'Righteous', cursive;
    background-color: orange;
}
*{
    box-sizing: border-box;
}
.para{
    margin: auto;
    width: 50%;
    padding: 16px;
    background-color: white;
    box-shadow: 20px 20px 20px 0px rgba(0, 0, 0,7);
}
.Register{
    font-family: 'Righteous', cursive;
    background-color: teal;
    margin: auto;
    width: 50%;
    cursor: pointer;
    color: white;
    padding: 16px;
    display: block;
    border: none;
    opacity: 0.8;
}
.form{
    font-family: 'Righteous', cursive;
    background-color: white;
    display: block;
    padding-top: 50px;
    margin: auto;
}
.input[type='text'],.input[type='Password']{
    font-family: 'Righteous', cursive;
    display: inline-block;
    background-color: whitesmoke;
    width: 100%;
    padding: 15px;
    margin: 5px 0px 22px 0px;
}
.input[type='text']:focus,.input[type='Password']:focus{
    background-color: #ddd;
    outline: none;
}
@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/righteous/v9/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }