*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
body{
    padding: 10;
    background-color: greenyellow;
    
}
body table tr th{
    background-color: lightskyblue;
    align-items: center;
    justify-content: center;
    margin: auto;
}
body table tr td{
    background-color: white;
    padding: 5;
}
table{
    
    margin: auto;
}
